@model IEnumerable<zefffood.Models.Producto>
@{
    ViewData["Title"] = "CATALOGO";
}

<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/007/759/744/original/fast-food-pattern-perfect-for-package-design-fast-food-seamless-background-vector.jpg');
        background-size: cover;
        background-position: center;
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 60px; /* Incrementar el padding para hacer el contenedor más alto */
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        max-width: 800px; /* Incrementar el max-width para el contenedor del catálogo */
        width: 100%;
        position: relative; /* Agregado para el posicionamiento absoluto de la imagen */
        margin: auto; /* Centrar el contenedor horizontalmente */
    }
    .form-container h3 {
        font-size: 5rem; /* Incrementar el tamaño de la fuente del título */
        font-family: 'Courier New', Courier, monospace; /* Cambiar la fuente */
        font-weight: bold;
        text-align: center; /* Centrar el texto */
    }
    .form-container .form-control,
    .form-container label,
    .form-container button {
        font-size: 1.4rem; /* Incrementar el tamaño de la fuente de los elementos del formulario */
    }
    .form-container input[type="checkbox"] {
        transform: scale(1.2); /* Incrementar el tamaño del checkbox */
    }
    .form-container .checkbox-label {
        display: flex;
        align-items: center;
        margin-top: 5px; /* Agregar margen superior para bajar el checkbox y el texto */
    }
    .form-container .checkbox-label input[type="checkbox"] {
        margin-right: 5px; /* Agregar margen derecho al checkbox */
    }
    .title-box {
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }
    .forgot-password-container {
        text-align: center;
        margin-top: 20px;
        font-size: 1rem; /* Incrementar el tamaño de la fuente del enlace */
    }
    
</style>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="form-container">
        <div class="title-box">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form asp-controller="Catalogo" asp-action="Index" class="d-flex">
                                <input type="text" name="searchString" class="form-control me-2" placeholder="Buscar productos">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <h2>@ViewData["Message"]</h2>
            <div class="row">
                <div class="col">
                    <div id="products" class="mb-3">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="card-img-actions">
                                                <center><img src="@item.ImageURL" class="d-block w-100 image-fit"></center>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <center><h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                                            <a class="btn btn-primary" asp-controller="Carrito" asp-action="Add" asp-route-id="@item.Id">Añadir Carrito</a>
                                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver Más</a></center>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
