@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "CARRITO";
    IEnumerable<zefffood.Models.Proforma> listItemsCarrito = new List<Proforma>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
    <script src="~/js/site.js" asp-append-version="true"></script>
    Decimal igv = (18*@montoTotal)/100, del = 3, res=(montoTotal-igv), mtF=(@montoTotal+del);
}

<style>
    body {
         background-image: url('https://static.vecteezy.com/system/resources/previews/007/759/744/original/fast-food-pattern-perfect-for-package-design-fast-food-seamless-background-vector.jpg');
        background-size: cover;
        background-position: center;
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 60px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        max-width: 800px;
        width: 100%;
        position: relative;
        margin: auto;
    }
    .form-container h3 {
        font-size: 3rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
    }
    .form-container .form-control,
    .form-container label,
    .form-container button {
        font-size: 1.4rem;
    }
    .form-container input[type="checkbox"] {
        transform: scale(1.2);
    }
    .form-container .checkbox-label {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    .form-container .checkbox-label input[type="checkbox"] {
        margin-right: 5px;
    }
    .title-box {
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }
    .forgot-password-container {
        text-align: center;
        margin-top: 20px;
        font-size: 1rem;
    }
    .cart-summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.4rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
</style>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: rgba(255, 255, 255, 0.5);">
    <div class="card" style="border-radius: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); background-color: rgba(255, 255, 255, 1);">
        <div class="form-container">
            <div class="title-box">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Proforma item in Model.elementosCarrito) {
                            <tr>
                                <td>
                                    <div class="card-img-actions">
                                        <img src="@item.Producto.ImageURL" class="d-block w-50 image-fit">
                                    </div>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Producto.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                <td>S/. @Html.DisplayFor(modelItem => item.Precio)</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="cart-summary">
                    <p>Total: S/. @montoTotal</p>
                </div>
            </div>
            <div class="cart-buttons d-flex justify-content-center mb-3"> <!-- Agregar margen inferior -->
                <a class="btn btn-primary mr-2" asp-controller="Pago" asp-action="Create" asp-route-monto="@montoTotal">Pagar</a>
                <a class="btn btn-info" asp-controller="Catalogo" asp-action="Index">Seguir Comprando</a>
            </div>
            <center>
                <div class="col-lg-10">
                    <div class="card" style="border-radius: 20px;">
                        <div class="card-body" style="margin: auto auto;">
                            <div class="card-img-actions">
                                <center>
                                    <h1>Detalles:</h1>
                                    <p><h1>Cargo por delivery : </h1> <h2>S/@del</h2></p>
                                    <p><h1>IGV(18%): </h1> <h2>S/ @igv</h2></p>
                                    <p><h1>Restante: </h1> <h2>S/ @res</h2></p>
                                    <h1>Total S/. @mtF</h1>
                                    <a class="btn btn-primary" asp-controller="Pago" asp-action="Create" asp-route-monto="@mtF"><img src="/Images/mastercard.png" class="img-fluid" alt="" width="30px" height="30px"> Pagar</a>
                                    <a class="btn btn-info" asp-controller="Catalogo" asp-action="Index" style=""><img src="/Images/carrito2.png" class="img-fluid" alt="" width="30px" height="30px"> Seguir Comprando</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
